*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;

    --fw-reg: 300;
    --fw-bold: 700;

    --clr-light: #FFFFFF;
    --clr-dark: #000022;
    --clr-accent: #e28413;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
          0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: 0.25em;
}

.title--intro {
    font-weight: var(--fw-reg);
}

.title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.subtitle--intro,
.subtitle--about {
    background-color: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1.25em;
}

.logo {
    max-width: 200px;
}

.nav-toggle {
    align-self: flex-start;
    padding: 1em;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    z-index: 1000;
}

.nav {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav .social-list a {
    color: var(--clr-accent);
    padding: 1em;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-9px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-accent);
    width: 2.75em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 8px;
}

.hamburger::after {
    bottom: 8px;
}

/* Intro */
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    border-radius: 0.4em;
}

.subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Skills */
.my-skills {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.title--skills {
    color: var(--clr-accent);
    position: relative;
}

.title--skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.skills, 
.technologies {
    margin-bottom: 4em;
}

.skill {
    max-width: 500px;
    margin: 2em auto;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
    padding: 0;
}

.tech-list img {
    max-width: 55px;
    margin-top: 0.5em;
}

@media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4em;
        gap: 2em;
    }

    .tech-list {
        max-width: 1000px;
        margin: 1.5em auto;
    }

    .tech-list img {
        max-width: none;
    }
}

/* About Me */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    border-radius: 0.4em;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        column-gap: 2em;
    }

    .title--about {
        grid-area: title;
    }

    .subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Projects */
.my-projects {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.portfolio {
    max-width: 500px;
    margin: 2em auto;
    border-radius: 1em;
    box-shadow: var(--bs);
    padding: 2em;
    background-color: rgba(0, 0, 45, 0.85);
    color: var(--clr-light);
}

.title--projects {
    color: var(--clr-accent);
}

.title--projects,
.subtitle--projects {
    text-align: center;
}

.portfolio h3 {
    display: inline-block;
    padding: 0 0.25em 0.50em 0.25em;
    border-bottom: 3px solid var(--clr-accent);
}

.portfolio ul {
    list-style: none;
    padding: 0;
}

.portfolio ul li {
    background: url('./icons/checkmark.png') left center no-repeat;
    background-size: 1.25em;
    padding-left: 1.5em;
    margin-bottom: .5em;
}

.portfolio .btn {
    display: block;
    text-align: center;
    margin-top: 1.5em;
}

@media (min-width: 800px) {
    .portfolio {
        max-width: 1000px;
    }

    .portfolio .btn {
        display: inline-block;
    }
}

/* Footer */
.footer {
    text-align: center;
    padding: 2em 0;
    font-size: var(--fs-h3);
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.list__link:hover,
.icons-link {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1em 0;
    gap: 1.5em;
}

.list__link {
    padding: 0.5em;
}

.footer p {
    font-size: var(--fs-body);
}

.icons-link {
    text-decoration: underline;
}

